.Reasons{
    padding: 0 2rem;
    display:flex;
    grid-template: 2rem;

}
.left-r{
    flex: 1 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-auto-rows: 1fr;
}
.left-r>:nTh-child(1){
    width:12rem;
    grid-row: 1/3;
    height:28rem;
}
.left-r>:nth-child(2){
    width:auto;
    height:26rem;
    grid-column:2/4;
}

.right-r{
    flex: 1 1;
    
}
